<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Style Imports -->
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="../static/img/icon_1.ico" type="ico"/>
    <title>Sign in</title>
</head>
<body>
    <main data-aos="fade-down" data-aos-duration="2000">
        <section data-aos="fade-right" data-aos-duration="1500">
            <div class="images">
                <div class="border-box">
                    <img src="../static/img/1.svg" alt="Digital nomad" srcset="">
                </div>
            </div>
            <div class="login">
                <img src="../static/img/logo.png" alt="Logo" class="logo">
                <form action="">
                    <input type="text" name="" id="" placeholder="Username"><br>
                    <input type="password" name="" id="" placeholder="Password"><br>
                    <button type="submit">Sign in</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <span>{{ year }} Copyright © Todos los derechos de autor reservados</span>
    </footer>
    <!-- JS Imports -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>